@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'PT Serif';
    src: url('/fonts/PTSerif-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PT Serif';
    src: url('/fonts/PTSerif-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PT Serif';
    src: url('/fonts/PTSerif-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'PT Serif';
    src: url('/fonts/PTSerif-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}


/* Baskervville */
@font-face {
    font-family: 'Baskervville';
    src: url('/fonts/Baskervville-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Baskervville';
    src: url('/fonts/Baskervville-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}




/*:root {*/
/*  --background: #ffffff;*/
/*  --foreground: #171717;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

/*body {*/
/*  color: var(--foreground);*/
/*  background: var(--background);*/
/*  font-family: Arial, Helvetica, sans-serif;*/
/*}*/

* {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Edge */
}


.btn-glass {
    @apply bg-white bg-opacity-10 backdrop-blur-sm text-white p-4 hover:bg-opacity-30 transition-all;
}

iframe{
    width: 100%!important;
    height: 100%!important;
    border: none!important;
}
